
/*搜索记录*/
.history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.history ul {
  border: 1px dashed red;
}
.history .s_info li{
  border-bottom: 1px dashed red;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.history .s_info li:last-child {
  border: none;
}
.history .s_info li i {
  height: 30px;
  line-height: 30px;
}